/* 모든 요소의 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML과 Body의 기본 설정 */
html,
body {
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* 추가: 자식 요소가 절대 위치를 가질 수 있도록 설정 */
}

.container {
  width: 40rem;
  height: 60rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 3rem;
  box-shadow: inset 1rem 1rem 2rem rgb(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  backdrop-filter: blur(7px);
}

.contents_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.onoff_btn {
  width: 7rem;
  height: 2.5rem;
  border-radius: 100rem;
  border: none;
  cursor: pointer;
  background-color: rgb(148, 55, 12);
  box-shadow: inset 0.5rem 0.5rem 0.7rem rgb(169, 99, 66);
  color: white;
  font-size: 1.3rem;
  color: rgb(239, 190, 150);
}

.onoff_btn:active {
  box-shadow: none;
}

#btn_close {
  background-color: red;
}

#btn_min {
  background-color: rgb(255, 238, 0);
}

#btn_max {
  background-color: rgb(0, 180, 24);
}

#display {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 8rem;
  padding: 2rem;
  overflow: hidden;
  background-color: rgb(77, 120, 93);
  box-shadow: inset 0.3rem 0.3rem 0.6rem rgb(49, 78, 60);
  margin-bottom: 0.5rem;
  border-radius: 1.5rem;
}

#display_num {
  text-align: right;
  font-size: 4.5rem;
  font-weight: 600;
  color: rgb(35, 56, 43);
}

#buttons_layout {
  width: 36rem;
  height: 40rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}

.button {
  width: 8rem;
  height: 6rem;
  cursor: pointer;
  border-radius: 2rem;
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
  border: none;
  box-shadow: 0.5rem 0.5rem 1rem rgba(54, 54, 54, 0.5);
}

.number {
  background-color: rgb(255, 255, 255, 0.7);
  color: rgb(81, 81, 81);
}

.number:active {
  background-color: rgb(227, 227, 227, 0.7);
  box-shadow: none;
}

.function {
  background-color: rgb(47, 91, 64);
}

.function:active {
  background-color: rgb(40, 78, 54);
  box-shadow: none;
}

.operator {
  background-color: rgb(202, 104, 0);
}

.operator:active {
  background-color: rgb(185, 95, 0);
  box-shadow: none;
}

.equals {
  background-color: rgb(231, 142, 173);
}

.equals:active {
  background-color: rgb(224, 130, 163);
  box-shadow: none;
}

.dot {
  background-color: rgb(255, 255, 255, 0.7);
  color: black;
}

.dot:active {
  background-color: rgb(227, 227, 227, 0.7);
  box-shadow: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
